# Dependencies
node_modules/

# Production builds
dist/
dist-ssr/
*.local

# Environment variables & secrets
.env
.env.*
!.env.example

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Independent Repositories
Elevenlabproject/
elevenlabapi/
Firstapp/
Newsite2/
Newsite3/
